/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #a1d6b2;
  border: 2px solid #a1d6b2;
  display: flex;
}

.head_table {
  padding: 0%;
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 5px;
  border-left: 2px solid rgb(247, 247, 247);
  border-right: 2px solid rgb(247, 247, 247);
}

.head_table td {
  font-size: 20px;
  border-right: 2px solid rgb(247, 247, 247);
  padding-right: 25px;
  padding-left: 25px;
  font-weight: bolder;
}

.head_table td:last-child {
  border-right: none;
}

.head_table a {
  color: rgb(247, 247, 247);
  text-decoration: none;
}

.blockquote {
  background-color: #e8b86d;
  padding: 2px;
}

.profile {
  width: 255px;
  height: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 15px solid white;
}

/* Main part */
.main_part {
  background-color: #f1f3c2;
  padding-bottom: 10px;
  border: 1px solid #f1f3c2;
  width: 90%;
}

.nav {
  background-color: #cedf9f;
  padding: 1px;
}

.plot {
  padding-bottom: 30px;
  margin: auto;
  width: 90%;
  border-bottom: 1px solid rgb(133, 133, 133);
}

.movies {
  padding-bottom: 30px;
  margin: auto;
  width: 90%;
  border-bottom: 1px solid rgb(133, 133, 133);
}

.photo {
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(133, 133, 133);
  width: 90%;
}

.photo_images {
  width: 100%;
  display: flex;
  justify-content: center;
}

.photo_images img {
  margin: 2.5%;
  width: 25%;
  height: auto;
  border: 10px solid white;
}

.table{
  margin: 0 auto;
}

.main_table{
  margin: 0 auto;
  border: 2px solid black;
  width: 80%;
  height: 400px;
}

.main_table td{
  border: 2px solid black;
}

/* Contact*/
.contact {
  border: 1px solid rgb(201, 41, 41);
  width: 90%;
}

.contact_table {
  margin: auto;
  padding: 10px;
}

.contact_table td {
  font-size: 12px;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  border-right: 1px solid rgb(133, 133, 133);
}

.contact_table td:last-child {
  border-right: none;
}

.main > div {
  margin: auto;
  margin-bottom: 5px;
  padding: auto;
}

/* General tag*/
body {
  padding: 0%;
  margin: 0%;
  margin-top: 65px;
}

h2 {
  text-align: center;
  font-weight: 920;
  color: rgb(255, 255, 255);
}
