<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>main</title>
  </head>
  <body>
    <div id="header">
      <h5>Lab 2, student: boris burdeyniy, group: TR-31</h1>
    </div>
    <div id="general">
      <div id="general_text">
        <img id="img1" src="/images/img1.jpg">
        <p>
          At [Your Service Name], we provide real-time, reliable, and comprehensive coverage of conflicts worldwide. Our team of dedicated
          journalists and analysts bring you up-to-date reports, in-depth analysis, and on-the-ground insights to keep you informed of the 
          latest developments.
        </p>
        <img id="img2" src="/images/img2.jpg">
        <p>
          Our mission is to deliver accurate and unbiased information, ensuring that you stay well-informed about global security, 
          international relations, and the human impact of war. Through multimedia content, live updates, and expert commentary, 
          we strive to offer a clear perspective on complex events.
        </p>
        <p>
          Stay connected with [Your Service Name] for the truth behind the headlines.
        </p>
        <img id="img3" src="/images/img3.jpg">
      </div>
      <div id="images">
        <img id="img_4_1" src="/images/img4.jpg">
        <img id="img_4_2" src="/images/img4.jpg">
        <img id="img_4_3" src="/images/img4.jpg">
      </div>
    </div>
    <div id="action">
      <form action="/login" method="get">
        <button type="submit">Login Page</button>
      </form>

      <form action="/register" method="get">
        <button type="submit">Register Page</button>
      </form>

      <form action="/feedback" method="get">
        <button type="submit">Feedback Page</button>
      </form>
    </div>
    <script src="/js/equalsHeight.js"></script>
    <script src="/js/adaptUI/adaptIndex.js"></script>
  </body>
</html>
